.btnFC {
  height: 50px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0 15px -3px,
    rgba(0, 0, 0, 0.25) 0px 0 6px -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #f7fbfc !important;
  flex-shrink: 0;
  margin-left: 20px;
  transition: 0.3s ease-in-out all;
  &.activeBtn {
    background-color: #4682a9 !important;
    i {
      color: white;
    }
  }
  i {
    font-size: 20px;
    margin-top: 1px;
    color: #4682a9;
  }
}

@media (hover: hover) {
  .btnFC:hover {
    background-color: #4682a9 !important;
    i {
      color: white;
    }
  }
}
